<form method="POST" action="/save">
    <input type="hidden" name="inputData" value=<%- data %>>
    <table border="1">
        <tr><td name="inputData"><%- data %></td></tr>
    </table><br/>
    <button type="submit"　id="save">save</button>
</form>