
<p>Do you really want to save the following data?</p>

<form method="POST" action="/save">
    <input type="hidden" name="savedData" value=<%- inputData %>>
        <%- inputData %> <br><br>
    <button type="submit"　id="save">save</button>
</form>