<p>Please input your article.</p>
<form method="POST" action="/post">
    <textarea type="text" name="inputData" style="width: 800px; height: 200px"></textarea><br/>
    <button type="submit"　id="post">post</button>
</form>