<p>Please input your article.</p>
<form method="post" action="/post">
    <textarea type="text" name="data" style="width: 800px; height: 200px"><%- data %></textarea><br/>
    <button type="submit"　id="post">post</button>
</form>