
<script>
    $(function(){
        $('.delete').on('click', function() {
            alert($(this).siblings('#id').text());
        });
    });
</script>


<table border="1">
        <tr>
            <td>#</td>
            <td>_id</td>
            <td>content</td>
            <td>button</td>
        </tr>
        <% for (var i in docs) { %>
            <tr>
                <td><%- i %></td>
                <td id="id"><%- docs[i]._id %></td>
                <td><%- docs[i].content %></td>
                <td class="delete"><button type="submit">delete</button></td>
            </tr>
        <% } %>
</table>

