
<script>
    $(function(){
        $('.delete').on('click', function() {
            // 対象ボタンの親のForm取得
            var form = $(this).parents('form');

            form.attr('action', '/delete');

            // 削除したいデータのidをid列から取得
            var id = $(this).siblings('.id').text();

            // 取得したidをformに対してhiddenタグで追加する
            $('input').attr({
                'type': 'hidden',
                'name': 'id',
                'value': id
            }).appendTo(form);

            // formを送信する
            form.submit();

        });
    });

    $(function(){
        $('.update').on('click', function() {

            // 対象ボタンの親のForm取得
            var form = $(this).parents('form');

            form.attr('action', '/update');

            // 編集したいデータのidをid列から取得
            var data = $(this).siblings('.content').text();
            var id = $(this).siblings('.id').text();

            // 取得したidをformに対してhiddenタグで追加する

            // 注意！ .appendTo()は複数要素の追加はできない。ので、以下では.append()を使用することにした。
            $('#form').append('<input type="hidden" name="id" value="'+ id +'">');
            $('#form').append('<input type="hidden" name="data" value="'+ data +'">');
            $('#form').append('<input type="hidden" name="status" value="update">');

            // formを送信する
            form.submit();
        });
    });

</script>

<form id='form' method="post">
    <table border="1">
            <tr>
                <td>#</td>
                <td>id</td>
                <td>content</td>
                <td colspan="2">button</td>
            </tr>
                <% for (var i in docs) { %>
                    <tr>
                        <td><%- i %></td>
                        <td class="id"><%- docs[i]._id %></td>
                        <td class="content"><%- docs[i].content %></td>
                        <td class="update"><button>update</button></td>
                        <td class="delete"><button>delete</button></td>
                    </tr>
                <% } %>
    </table>
</form>

