<p>Please edit your article.</p>
<form method="POST" action="/save">
    <textarea type="text" name="content" style="width: 800px; height: 200px"><%- content %></textarea><br/>
    <button type="submit"　id="post">post</button>
</form>